registry ansible_host=172.16.xx.xx   ansible_user=root
machine1 ansible_host=172.16.xx.xx ansible_user=root
machine2 ansible_host=172.16.xx.xx ansible_user=root
machine3 ansible_host=172.16.xx.xx ansible_user=root
machine4 ansible_host=172.16.xx.xx ansible_user=root
machine5 ansible_host=172.16.xx.xx ansible_user=root
machine6 ansible_host=172.16.xx.xx ansible_user=root

[machines]
machine1
machine2
machine3
machine4
machine5
machine6

[registry]
registry

[registry:vars]
registry_host=172.16.80.xx
registry_port=80

[etcd]
machine1
machine2
machine3
machine4
machine5
machine6

[kubernetes]
machine1
machine2
machine3
machine4
machine5
machine6

[masters]
machine1

[masters:vars]
registry_host=172.16.xx.xx
registry_port=80

[minions]
machine2
machine3
machine4
machine5
machine6

[minions:vars]
registry_host=172.16.xx.xx
registry_port=80
